/* global */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Noto Sans TC";
    background-color: hsla(0, 0%, 98%, 1);
    margin: 0;
}

main h1 {
    text-align: center;
}