@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
}


.header-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    font-family:"Noto Sans";
}
.header-right{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-items: space-around;
    width: 150px;
    height: 50px;
    margin-right: 20px;
    gap: 20px;
}

a{
    color:#050604;
    text-decoration: none;
}